<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Přidat nemovitost | Realboss</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>

<div class="container mt-5">
    <h1>Přidat nemovitost</h1>
    <form th:action="@{/realman/properties/create}" method="post" th:object="${newProperty}" enctype="multipart/form-data">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-6">
                    <h3>Základní info</h3>
                    <div class="form-group mt-2">
                        <label class="control-label" for="name">
                            Název
                        </label>
                        <input id="name" class="form-control" th:field="*{name}" required autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="price">
                            Cena
                        </label>
                        <input id="price" class="form-control" th:field="*{price}" required autofocus="autofocus">
                    </div>

                    <div class="form-group mt-2">
                        <label class="control-label" for="desc">
                            Popis
                        </label>
                        <textarea id="desc" class="form-control" th:field="*{description}" required autofocus="autofocus"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Adresa</h3>
                    <div class="form-group mt-2">
                        <label class="control-label" for="city">
                            Město
                        </label>
                        <input id="city" class="form-control" th:field="*{city}" required autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="street">
                            Ulice
                        </label>
                        <input id="street" class="form-control" th:field="*{street}" required autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="postnum">
                            PSČ
                        </label>
                        <input id="postnum" class="form-control" th:field="*{postNum}" required autofocus="autofocus">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <h3>Další info</h3>
                <p>*Tyto položky nejsou povinné</p>
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label class="control-label" for="priceNote">
                            Poznámka k ceně
                        </label>
                        <input id="priceNote" class="form-control" th:field="*{priceNote}" autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="building">
                            Typ stavby
                        </label>
                        <input id="building" class="form-control" th:field="*{building}" autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="objState">
                            Stav objektu
                        </label>
                        <input id="objState" class="form-control" th:field="*{objectState}" autofocus="autofocus">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label class="control-label" for="objPlacement">
                            Umístění objektu
                        </label>
                        <input id="objPlacement" class="form-control" th:field="*{objectPlacement}" autofocus="autofocus" placeholder="Centrum, Okraj obce">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="usableArea">
                            Užitná plocha (udávejte v m<sup>2</sup>)
                        </label>
                        <input id="usableArea" class="form-control" th:field="*{usableArea}" autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="floorArea">
                            Plocha podlahová (udávejte v m<sup>2</sup>)
                        </label>
                        <input id="floorArea" class="form-control" th:field="*{floorArea}" autofocus="autofocus">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label class="control-label" for="floor">
                            Podlaží
                        </label>
                        <input id="floor" class="form-control" th:field="*{floor}" autofocus="autofocus" placeholder="Počet a umístění v podlaží">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="basement">
                            Sklep (udávejte v m<sup>2</sup>)
                        </label>
                        <input id="basement" class="form-control" th:field="*{basement}" autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="approvalYear">
                            Rok kolaudace
                        </label>
                        <input id="approvalYear" class="form-control" th:field="*{approvalYear}" autofocus="autofocus">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label class="control-label" for="reconstructionYear">
                            Rok rekonstrukce
                        </label>
                        <input id="reconstructionYear" class="form-control" th:field="*{reconstructionYear}" autofocus="autofocus">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="water">
                            Voda
                        </label>
                        <input id="water" class="form-control" th:field="*{water}" autofocus="autofocus" placeholder="Typ vodního přísunu">
                    </div>
                    <div class="form-group mt-2">
                        <label class="control-label" for="electricity">
                            Elektřina
                        </label>
                        <input id="electricity" class="form-control" th:field="*{electricity}" autofocus="autofocus" placeholder="Typ elektřiny (230V, 120V)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mt-2">
                        <label class="control-label" for="commRoad">
                            Komunikace (typ pozemní komunikace)
                        </label>
                        <input id="commRoad" class="form-control" th:field="*{communicationRoad}" autofocus="autofocus">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <h3>Galerie nemovistosti</h3>
                <p>*Povinné pole</p>
                <div class="form-group mb-2 mt-2">
                    <label class="control-label" for="img">
                        Hlavní obrázek
                    </label>
                </div>
                <div class="form-group">
                    <input id="img"  type="file" name="file" accept="image/*">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary mt-5 mb-5 p-3" value="Přidat nemovitost">
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>