<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Všechny nemovitosti</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12 text-left mb-2"> <!-- Adjust the column size based on your layout -->
            <h1>List všech nemovitostí</h1>
        </div>
        <div class="col-12">
            <a data-toggle="modal" data-target="#addPropertyModal" class="btn btn-primary btn-sm mb-3 p-2 fw-bold">Přidat nemovitost</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Název</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Město</th>
                        <th scope="col">Ulice</th>
                        <th scope="col">Popis</th>
                        <th scope="col">Přídat zákazníka k nemovistosti</th>
                        <th scope="col">Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "property: ${userProperties}">
                        <td><img th:src="${property.mainPicturePath}" alt="MainPic" width="90"></td>
                        <td th:text="${property.name}"></td>
                        <td th:text="${property.price}"></td>
                        <td th:text="${property.city}"></td>
                        <td th:text="${property.street}"></td>
                        <td th:text="${property.description}"></td>
                        <td>
                            <form style="display: flex; gap: 5px" th:action="@{/realman/properties/addUserProperty/{id} (id=${property.id})}" method="post" th:object="${newUser}">
                                <input style="width: 13rem; display: flex" id="emailExist" class="form-control" name="emailExist" required autofocus="autofocus" th:field="*{email}" type="email" th:placeholder="${property.getCustomer() != null ? property.getCustomer().getEmail() : ''}">
                                <input  style="display: flex" type="submit" class="btn btn-primary " value="Přidat Zákazníka">
                            </form>
                        </td>
                        <td>
                            <a th:href="@{/realman/properties/delete/{id} (id=${property.id})}" class="btn btn-danger">Smazat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Přidat nemovitost</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/realman/properties/create}" method="post" th:object="${newProperty}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label" for="name">
                            Název
                        </label>
                        <input id="name" class="form-control" th:field="*{name}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="price">
                            Cena
                        </label>
                        <input id="price" class="form-control" th:field="*{price}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="city">
                            Město
                        </label>
                        <input id="city" class="form-control" th:field="*{city}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="street">
                            Ulice
                        </label>
                        <input id="street" class="form-control" th:field="*{street}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="postnum">
                            PSČ
                        </label>
                        <input id="postnum" class="form-control" th:field="*{postNum}" required autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="desc">
                            Popis
                        </label>
                        <input id="desc" class="form-control" th:field="*{description}" required autofocus="autofocus">
                    </div>
                    <div class="form-group mb-2 mt-2">
                        <label class="control-label" for="img">
                            Hlavní obrázek
                        </label>
                    </div>
                    <div class="form-group">
                        <input id="img"  type="file" name="file" accept="image/*">
                    </div>

                    <input type="submit" class="btn btn-primary mt-2" value="Přidat nemovitost">
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>