<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Všechny nemovitosti | Realboss</title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12 text-left mb-2">
            <h1>List všech nemovitostí</h1>
        </div>
        <div class="col-12">
            <a th:href="@{/realman/properties/create}" class="btn btn-primary btn-sm mb-3 p-2 fw-bold">Přidat nemovitost</a>
        </div>
        <!-- error message -->
        <div class="col-12" th:if="${param.userNotCustomer}">
            <div class="alert alert-danger">Uživatel, kterého chcete přidat k nemovitosti není váš zákazník!</div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Název</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Město</th>
                        <th scope="col">Ulice</th>
                        <th scope="col">Přídat zákazníka k nemovistosti</th>
                        <th scope="col">Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "property: ${userProperties}">
                        <td class="align-middle"><img th:src="${property.mainPicturePath}" alt="MainPic" width="60"></td>
                        <td class="align-middle" th:text="${property.name}"></td>
                        <td class="align-middle" th:text="${property.price}"></td>
                        <td class="align-middle" th:text="${property.city}"></td>
                        <td class="align-middle" th:text="${property.street}"></td>
                        <td class="align-middle">
                            <form style="display: flex; gap: 5px" th:action="@{/realman/properties/addUserProperty/{id} (id=${property.id})}" method="post" th:object="${newUser}">
                                <input style="width: 13rem; display: flex" id="emailExist" class="form-control" name="emailExist" required autofocus="autofocus" th:field="*{email}" type="email" th:placeholder="${property.getCustomer() != null ? property.getCustomer().getEmail() : ''}">
                                <input  style="display: flex" type="submit" class="btn btn-primary " value="Přidat Zákazníka">
                            </form>
                        </td>
                        <td class="align-middle" style="min-width: 18rem">
                            <a th:href="@{/realman/properties/view/{id} (id=${property.id})}" class="btn btn-secondary">Zobrazit</a>
                            <a th:href="@{/realman/properties/edit/{id} (id=${property.id})}" class="btn btn-primary">Upravit</a>
                            <a th:href="@{/realman/properties/delete/{id} (id=${property.id})}" class="btn btn-danger">Smazat</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>