<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${property.name}"></title>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="d-flex align-items-center justify-content-center">
    <div class="container mt-5" style="max-width: 750px">
        <img th:src="${property.mainPicturePath}" alt="MainPic" class="img-fluid rounded card">
        <h1 th:text="${property.name}"></h1>
        <h4 th:text="${property.city} + ', ' + ${property.street}"></h4>
        <h1 th:text="${#strings.replace(#numbers.formatCurrency(property.price), ',00', '')}"></h1>
        <p th:text="${property.description}"></p>
        <div class="row">
            <div class="col-md">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <label class="propertyAttrLabel">Celková cena:</label>
                        <span th:text="${#strings.replace(#numbers.formatCurrency(property.price), ',00', '')}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.priceNote)}" class="list-group-item">
                        <label class="propertyAttrLabel">Poznámka k ceně:</label>
                        <span th:text="${property.priceNote}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.building)}" class="list-group-item">
                        <label class="propertyAttrLabel">Typ stavby:</label>
                        <span th:text="${property.building}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.objectState)}" class="list-group-item">
                        <label class="propertyAttrLabel">Stav objektu:</label>
                        <span th:text="${property.objectState}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.objectPlacement)}" class="list-group-item">
                        <label class="propertyAttrLabel">Umístění objektu:</label>
                        <span th:text="${property.objectPlacement}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.floor)}" class="list-group-item">
                        <label class="propertyAttrLabel">Podlaží:</label>
                        <span th:text="${property.floor}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.usableArea)}" class="list-group-item">
                        <label class="propertyAttrLabel">Užitná plocha:</label>
                        <span th:utext="${property.usableArea} + ' m<sup>2</sup>'" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.floorArea)}" class="list-group-item">
                        <label class="propertyAttrLabel">Plocha podlahová:</label>
                        <span th:utext="${property.floorArea} + ' m<sup>2</sup>'" class="propertyAttrVal"></span>
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-group list-group-flush">
                    <li th:if="${not #strings.isEmpty(property.basement)}" class="list-group-item">
                        <label class="propertyAttrLabel">Sklep:</label>
                        <span th:utext="${property.basement} + ' m<sup>2</sup>'" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.approvalYear)}" class="list-group-item">
                        <label class="propertyAttrLabel">Rok kolaudace:</label>
                        <span th:text="${property.approvalYear}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.reconstructionYear)}" class="list-group-item">
                        <label class="propertyAttrLabel">Rok rekonstrukce:</label>
                        <span th:text="${property.reconstructionYear}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.water)}" class="list-group-item">
                        <label class="propertyAttrLabel">Voda:</label>
                        <span th:text="${property.water}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.electricity)}" class="list-group-item">
                        <label class="propertyAttrLabel">Elektřina:</label>
                        <span th:text="${property.electricity}" class="propertyAttrVal"></span>
                    </li>
                    <li th:if="${not #strings.isEmpty(property.communicationRoad)}" class="list-group-item">
                        <label class="propertyAttrLabel">Komunikace:</label>
                        <span th:text="${property.communicationRoad}" class="propertyAttrVal"></span>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>